*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Nunito", sans-serif;
  color: #6D5D4B;
  font-weight: 300;
  line-height: 1.6; }

.grid-container {
  display: grid;
  height: 100%;
  grid-template-rows: 100px max-content 1fr;
  grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end]; }

.text-blue {
  color: blue; }

.text-red {
  color: red; }

.heading-1, .heading-2, .heading-3, .heading-4 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400; }

.heading-1 {
  font-size: 4.5rem;
  color: #f9f7f6;
  line-height: 1; }

.heading-2 {
  font-style: italic;
  font-size: 4rem;
  line-height: 1; }
  .heading-2--light {
    color: #f9f7f6; }
  .heading-2--dark {
    color: #54483A; }

.heading-3 {
  color: #c69963;
  font-size: 1.6rem;
  text-transform: uppercase; }

.heading-4 {
  font-size: 1.9rem; }
  .heading-4--light {
    color: #f9f7f6; }
  .heading-4--dark {
    color: #54483A; }

p {
  font-size: 2rem;
  font-weight: bold; }

.p-sm {
  font-size: 1.3rem; }

a {
  text-decoration: none; }

.btn {
  background-color: #c69963;
  color: #fff;
  border: none;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.3rem;
  text-transform: uppercase;
  padding: 1rem 2rem;
  cursor: pointer;
  transition: all .2;
  -webkit-transition: all .2;
  -moz-transition: all .2;
  -ms-transition: all .2;
  -o-transition: all .2; }
  .btn:hover {
    background-color: #B28451; }

label {
  font-size: 1.6rem; }

input,
placeholder {
  font-size: 1.3rem; }

input {
  padding: 0.5rem 0.5rem;
  border: 1px solid #303030;
  outline: none;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px; }

.mb-sm {
  margin-bottom: 2rem; }

.mb-md {
  margin-bottom: 3rem; }

.mb-lg {
  margin-bottom: 4rem; }

.mb-hg {
  margin-bottom: 8rem; }

.header {
  grid-column: full-start / full-end; }
  .header__title {
    color: #303030;
    text-align: center;
    margin-top: 2rem;
    font-size: 3rem; }

.videos {
  grid-column: center-start / center-end;
  display: grid;
  grid-template-columns: repeat(2, 1fr); }
  .videos__first-video {
    width: 60%;
    justify-self: start; }
  .videos__second-video {
    width: 60%;
    justify-self: end; }

.chat {
  grid-column: center-start / center-end;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 50px; }
  .chat__connection {
    grid-column: 1 / span 3; }
  .chat__call-chat {
    grid-column: 4 / -1;
    justify-self: end; }

.hidden {
  display: none; }
